@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap');

:root {
    --fonte-logo: 'Libre Franklin', sans-serif;
}

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

title {
    display: none;
}

header div#cabeçalho{
    width: 90%;
    height: 80px;
    margin: 0 5%;
    background-color: black;
}

header div#cabeçalho > img {
    height: 60px;
    padding: 10px;
    float: left;
}

div#cabeçalho > p {
    font-family: var(--fonte-logo);
    color: white;
    float: left;
    font-size: 1.5em;
    padding: 10px;
}

div#cabeçalho > ul {
    padding: 0px;
    float: right;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    margin-top: 40px;
    padding: 10px;
}

div#cabeçalho > ul > li {
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 0px 10px;
    list-style-position: outside;
}

div#cabeçalho > ul > li > a {
    color: white;
    text-decoration: none;
}

div#cabeçalho > ul > li:hover {
    background-color: rgb(61, 61, 61);
    padding: 10px 10px; 
    border-radius: 5px; 
}

/* menu lateral*/
.column-left {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

h2 {
    width: 180px;
    font-weight: normal;
    color: rgb(5, 5, 5);
    padding: 10px 0px 10px 20px;
}

/* Inglaterra */
.mainmenubtn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding:10px;
    margin-top:10px;
}
.mainmenubtn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}


.dropdown-child {
    display: none;
    background-color: rgb(175, 175, 175);
    min-width: 200px;
}
.dropdown-child a {
    color: rgb(0, 0, 0);
    padding: 5px 0px 5px 20px;
    text-decoration: none;
    display: block; 
}

.dropdown-child > a:hover {
    background-color: gray;
}
.dropdown:hover .dropdown-child {
    display: block;
}

/* Italia */
.mainmenubtn-B {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding:10px;
    margin-top:10px;
}
.mainmenubtn-B:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.dropdown-child-B {
    display: none;
    background-color: rgb(175, 175, 175);
    min-width: 200px;
}
.dropdown-child-B a {
    color: rgb(0, 0, 0);
    padding: 5px 0px 5px 20px;
    text-decoration: none;
    display: block; 
}

.dropdown-child-B > a:hover {
    background-color: gray;
}
.dropdown-B:hover .dropdown-child-B {
    display: block;
}

/* Espanha */

.mainmenubtn-C {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding:10px;
    margin-top:10px;
}
.mainmenubtn-C:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.dropdown-child-C {
    display: none;
    background-color: rgb(175, 175, 175);
    min-width: 200px;
}
.dropdown-child-C a {
    color: rgb(0, 0, 0);
    padding: 5px 0px 5px 20px;
    text-decoration: none;
    display: block; 
}

.dropdown-child-C > a:hover {
    background-color: gray;
}
.dropdown-C:hover .dropdown-child-C {
    display: block;
}

/* França */
.mainmenubtn-D {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding:10px;
    margin-top:10px;
}
.mainmenubtn-D:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.dropdown-child-D {
    display: none;
    background-color: rgb(175, 175, 175);
    min-width: 200px;
}
.dropdown-child-D a {
    color: rgb(0, 0, 0);
    padding: 5px 0px 5px 20px;
    text-decoration: none;
    display: block; 
}

.dropdown-child-D > a:hover {
    background-color: gray;
}
.dropdown-D:hover .dropdown-child-D {
    display: block;
}

/* Alemanha */
.mainmenubtn-E {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding:10px;
    margin-top:10px;
}
.mainmenubtn-E:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.dropdown-child-E {
    display: none;
    background-color: rgb(175, 175, 175);
    min-width: 200px;
}
.dropdown-child-E a {
    color: rgb(0, 0, 0);
    padding: 5px 0px 5px 20px;
    text-decoration: none;
    display: block; 
}

.dropdown-child-E > a:hover {
    background-color: gray;
}
.dropdown-E:hover .dropdown-child-E {
    display: block;
}